<ng-container *ngIf="workData$ | async as work">
  <div class="project-hero">
    <div class="project-hero__content">
      <h1 class="display-2">{{ work.data.title[0].text }}</h1>
      <p>{{ work.data.description }}</p>
      <div class="project-designer">
        <div class="project-designer__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-zap"
          >
            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2" />
          </svg>
        </div>
        <div class="project-designer__info">
          <span class="project-designer__name">{{ work.data.designer[0].role_label }}</span>
          <span class="project-designer__role">{{ work.data.designer[0].role }}</span>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="project-cover" *ngIf="work.data.project_cover.url">
      <img src="{{ work.data.project_cover.url }}" />
    </div>
    <div #htmlContent class="section" [ngSwitch]="true" *ngFor="let section of work.data.section">
      <!-- Intro -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'intro'">
        <div class="section-content">
          <div [outerHTML]="section.section_title | asHTML" *ngIf="section.section_title[0].text"></div>
          <div [outerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
      <!-- Challenge -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'challenge'">
        <div class="section-grid section--outline">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div class="section-col" [innerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
      <!-- Solution -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'solution'">
        <div class="section-content">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div [outerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
      <!-- Process -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'process'">
        <div class="section-grid section--process">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div class="section-col">
            <p>
              Health Connected was going through a huge redesign but alot of the core concepts still needed to remain.
              By doing some research into our competitors and our users we started to identify the pain points of the
              user's journey and what we can do to improve the overall new experience.
            </p>
            <div class="section-footer">
              <button class="process-btn" (click)="openOffCanvas()">
                <span>In depth</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-eye"
                >
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </button>
            </div>
            <!-- <p>Health Connected already had a user base during this time so we were able to ran some surveys and looked
              into the
              usage metrics to identify the pain points users were facing. We were also able to capture feedback from
              employers who had signed up for the Health Connected program to get their insights and hear about their
              employee's experiences.</p> -->
          </div>
          <!-- <div [outerHTML]="section.content | asHTML"></div> -->
        </div>
      </ng-container>
      <!-- Experience  -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'experience'">
        <div class="section-content">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div [outerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
      <!-- Results -->
      <ng-container *ngSwitchCase="section.section_id && section.section_id === 'results'">
        <div class="section-grid section--outline">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div class="section-col" [innerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
      <!-- Details -->
      <ng-container *ngSwitchDefault>
        <div class="section-grid">
          <div [outerHTML]="section.section_title | asHTML"></div>
          <div class="section-col" [innerHTML]="section.content | asHTML"></div>
        </div>
        <div class="image-grid" *ngIf="section.images">
          <img *ngFor="let image of section.images" src="{{ image.image.url }}" />
        </div>
      </ng-container>
    </div>
  </section>
</ng-container>
