@import '../../../scss/00_imports';

:host-context(.c-footer) {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: $spacing--xl 0;
  pointer-events: none;
}

.c-footer {
  &__container {
    position: relative;
    width: 100%;
    @include container-padding;
  }
  &__nav {
    position: relative;
    display: inline-flex;
    // width: 100%;
    pointer-events: auto;
    // max-width: auto;
    @include frosted-glass(neutral(grey10), 0.75);
    border: 1px solid rgba(neutral(grey80), 0.025);
    @include breakpoint(md) {
      border-radius: $spacing--xs;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: $spacing--xs $spacing--md;
    margin: auto;
  }

  &__list-item ~ &__list-item {
    margin-left: $spacing--md;
  }

  &-link {
    font-weight: font-weight(bold);
    font-size: $body--2;
    color: currentColor;
    line-height: 1.25;
    min-height: 44px;
    padding: $spacing--xs $spacing--md;
  }
}

body.dark {
  :host-context(.c-footer) .c-footer__nav {
    @include frosted-glass(neutral(grey90), 0.75);
    border: 1px solid rgba(neutral(grey0), 0.025);
  }
}
