@import '../../../scss/00_imports';

:host-context(.c-playground) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.playground-list {
  position: relative;
  width: 100%;
  height: 100%;
  &__item {
    position: relative;
    width: 100%;
  }

  &__item ~ &__item {
    margin-top: $spacing--2xl;
    @include breakpoint(md) {
      margin-top: $spacing--3xl;
    }
  }
}

.project-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  color: currentColor;
  text-decoration: none;
  padding: $spacing--lg;
  transition: background-color 275ms ease;
  border-radius: $spacing--xs;
  @include breakpoint(md) {
    flex-direction: row;
  }
  &__content {
    position: relative;
    width: 100%;
  }
  &:hover,
  &:focus {
    .project-link-title {
      color: color(orange);
    }
  }
}

.project-link-date {
  position: relative;
  display: block;
  line-height: 1.25;
  font-size: $overline;
  white-space: nowrap;
  font-weight: 900;
  margin-top: $spacing--sm;
  &::before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: -34px;
    height: 2px;
    width: 24px;
    background-color: color(orange);
  }
}

.project-link-title {
  position: relative;
  margin: 0;
  line-height: 1.25;
  font-size: $subtitle;
  font-weight: 900;
  transition: color 275ms ease;
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
}

.project-link-descr {
  position: relative;
  margin: 0;
  font-size: $body--2;
  @include breakpoint(md) {
    font-size: $body--1;
  }
}

.project-link-title ~ .project-link-descr {
  margin-top: $spacing--sm;
}

.project-link-date ~ .project-link__content {
  padding-left: 0;
  padding-top: $spacing--sm;
  @include breakpoint(md) {
    padding-left: $layout--xl;
    padding-top: 0;
  }
}
