@import '../../../scss/00_imports';

:host-context(.header) {
  position: fixed;
  z-index: 3;
  display: block;
  width: 100vw;
  min-height: 68px;
  transition: transform 275ms ease;
  transform: translateY(0);
  @include frosted-glass(var(--glass1), 0.75);
  &[data-state='hidden'] {
    transform: translateY(-80px);
  }
}

.header {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 68px;
    flex-shrink: 0;
    color: currentColor;
    @include container-padding;
  }
  &__brand {
    display: flex;
    align-items: center;
    color: currentColor;
    justify-content: center;
    height: 44px;
    padding: 0 $spacing--sm;
  }

  &__button-group {
    position: relative;
    display: flex;
    align-items: center;

    button ~ button {
      margin-left: $spacing--xs;
      @include breakpoint(sm) {
        margin-left: $spacing--sm;
      }
      @include breakpoint(md) {
        margin-left: $spacing--md;
      }
    }
  }
}

.header-logo {
  height: 14px;
  width: auto;
  @include breakpoint(md) {
    height: 16px;
  }
  @include breakpoint(lg) {
    height: 18px;
  }
}

.dot {
  color: var(--accent100);
}

.time-btn {
  font-weight: font-weight('semi-bold');
  font-size: $body--2;
  color: currentColor;
  line-height: 1.25;
  min-height: 44px;
  padding: 0 $spacing--md;
  transition: color 320ms ease;
  transition: background 320ms ease;
  border-radius: $spacing--xs;
  &:hover,
  &:focus {
    background-color: var(--surface4);
  }
}

.dark-mode-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  transition: color 320ms ease;
  transition: background 320ms ease;
  &:hover,
  &:focus {
    background-color: var(--surface4);
  }
  svg {
    height: 24px;
    width: 24px;
  }
}
