@import '../../../scss/00_imports';

:host-context(.c-hero) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  @include breakpoint(md) {
    flex-direction: row;
  }

  &::before {
    --progress-start: 45%;
    --progress-end: 95%;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    content: '';
    height: 100%;
    width: 100%;
    // background: radial-gradient(
    //   circle,
    //   hsla(var(--glass1) / 0) var(--progress-start),
    //   hsla(var(--glass1) / 1) var(--progress-end)
    // );
    // mask: $noiseFilter,
    //   radial-gradient(
    //     circle,
    //     hsla(var(--glass1) / 0) var(--progress-start),
    //     hsla(var(--glass1) / 1) var(--progress-end)
    //   );
  }
}

.c-hero {
  &__col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint(md) {
      width: auto;
    }
  }
  // &__col ~ &__col {
  //   padding-top: $spacing--sm;
  //   @include breakpoint(md) {
  //     padding-top: 0;
  //   }
  // }

  &__marquee {
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: $spacing--lg;
    @include breakpoint(md) {
      align-items: flex-end;
    }
  }
}

.scrolling-headline-track {
  position: relative;
  display: flex;
}

.scrolling-headline {
  white-space: nowrap;
  padding-left: $layout--lg;
}

:host-context(.c-hero) .c-balance-motion {
  width: 320px;
  height: 320px;
  @include breakpoint(sm) {
    width: 345px;
    height: 345px;
  }
  @include breakpoint(lg) {
    width: 420px;
    height: 420px;
  }
}
