<div class="c-hero__col">
  <c-balance-motion [reversing]="reversing"></c-balance-motion>
</div>
<div class="c-hero__col">
  <h2 class="headline" *ngIf="siteContent$ | async as data">{{ data.hero_headline }}</h2>
</div>
<div class="c-hero__marquee">
  <div #scrollingHeadline class="scrolling-headline-track">
    <div class="scrolling-headline">
      <span class="display-responsive">Designer — Developer.</span>
    </div>
    <div class="scrolling-headline">
      <span class="display-responsive">Designer — Developer.</span>
    </div>
  </div>
</div>
