<div class="c-content__container">
  <div>
    <span class="overline">{{ siteContent?.callout }}</span>
    <h2 class="headline">
      {{ siteContent?.headline }}
      <div class="discipline">
        <span>{{ siteContent?.discipline }}</span>
      </div>
    </h2>
    <p class="body">{{ siteContent?.content }}</p>
    <p class="body">
      <strong>{{ siteContent?.content_callout }}</strong>
      <button class="js-bs-trigger">open bottomsheet</button>
    </p>
  </div>
  <c-social-links></c-social-links>
</div>
