<div class="c-content__container">
  <span class="overline">Create, share, and inspire.</span>
  <h1 class="headline">For the love of <span class="discipline">development</span></h1>
  <p class="body">
    From Design to Development I bridge the gap. A designer and front-end developer that’s passionate about crafting
    beautiful and delightful user interactions through modern web technology.
  </p>
  <p class="body">Just your friend neigborhood designer known for his technical skills.</p>
</div>
<c-social-links></c-social-links>
