<ul class="blog-list" *ngIf="blogList$ | async as data">
  <li *ngFor="let blog of data" class="blog-list__item">
    <button class="blog-link" (click)="viewBlog(blog.uid)">
      <span class="blog-link-date">{{ blog.first_publication_date }}</span>
      <div class="blog-link__content">
        <h2 class="blog-link-title" *ngIf="blog.data.page_title.length !== 0">{{ blog.data.page_title[0].text }}</h2>
        <p class="blog-link-descr" *ngIf="blog.data.page_description.length !== 0">
          {{ blog.data.page_description[0].text }}
        </p>
      </div>
    </button>
  </li>
</ul>
