<div class="header">
  <h1>ALXV Design System</h1>
  <p>Work in progress</p>
</div>
<section class="section">
  <h2>Colors</h2>
  <h3>Brand:</h3>
</section>
<section class="section">
  <h2>Type Faces</h2>
  <p>Inter</p>
</section>
<section class="section">
  <h2>Typography</h2>
  <article>
    <h3>Display headings</h3>
    <ul>
      <li>
        <span class="overline">Display 1</span>
        <h1 class="display-1">Almost before we knew it, we had left the ground.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Display 2</span>
        <h2 class="display-2">Almost before we knew it, we had left the ground.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Display 3</span>
        <h3 class="display-3">Almost before we knew it, we had left the ground.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Display 4</span>
        <h3 class="display-4">Almost before we knew it, we had left the ground.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
    </ul>
  </article>
  <article>
    <h3>Heading Levels</h3>
    <ul>
      <li>
        <span class="overline">Heading level 01</span>
        <h1>Almost before we knew it, we had left the ground.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Heading level 02</span>
        <h2>Almost before we knew it, we had left the ground.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Heading level 03</span>
        <h3>Almost before we knew it, we had left the ground.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Heading level 04</span>
        <h4>Almost before we knew it, we had left the ground.</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
    </ul>
  </article>
  <article>
    <h3>Paragraphs</h3>
    <ul>
      <li>
        <span class="overline">Body Large</span>
        <p class="body-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Body 1</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
      <li>
        <span class="overline">Body 2</span>
        <p class="body-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Sodales ut eu sem integer.
        </p>
      </li>
    </ul>
  </article>
</section>
<section class="section">
  <h2>Components</h2>
</section>
