<section>
  <div class="c-process__container">
    <div>
      <span class="overline">Let's get technical with design.</span>
      <h2 #headline class="headline">
        Approach design with a
        <span class="discipline">new perspective.</span>
      </h2>
      <p class="body">
        Hello, my name is Alex Vong I'm a <strong>designer</strong> and <strong>front-end developer</strong>
        specializing in Design Systems and UI development. Whether you are a beginner or advanced designer I can help
        you expand your knowledge on the technical side of design by bridging design & development methodologies.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <c-relationship-motion></c-relationship-motion>
    </div>
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Designing
        <span class="discipline">together.</span>
      </h2>
      <p class="body">
        Like a UI & UX relationship, I strongly believe that designers & developers should work together with equal
        responsibility to make sure what we are delivering is impactful to the user's experience because what we design
        and build will be user facing.
      </p>
      <p class="body">
        <strong>A comic book artist still needs an skillful inker to bring their illustration to life.</strong>
      </p>
      <p class="body">
        From interaction design to scaleable design systems, single-page applications to mobile experience. That
        designer & developer relationship should start with the design process to solution and build ambitious yet
        accessible products.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Considered
        <span class="discipline">development.</span>
      </h2>
      <p class="body">
        The sky isn't always blue so I take a pragmatic approach to each project I take on, focussing on identifying
        what the current tech stack is and the constraints that holds us back from creating the best user experience.
      </p>
      <p class="body">
        I've worked with forward-thinking people to design and develop interactive, accessible websites and products.
        With my experience in designing and building complex user interfaces I can help you deliver anything from
        single-page applications to scaleable design systems.
      </p>
      <p class="body">
        I bring in both the design & development perspective to help you identify the most appropriate technology for
        your project that fits your needs. Whilst I love modern cutting edge web technology, you can be sure that I will
        be considerate of what works for your product.
      </p>
    </div>
    <div class="c-process-grid__col">
      <div class="animation"></div>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <div class="animation"></div>
    </div>
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Motion &
        <span class="discipline">Choreography.</span>
      </h2>
      <p class="body">
        As a designer I sweat the little details that brings the experience to life. Animation isn't just about looking
        cool, motion and UI interaction is key to a delightful user experience. However good interaction design is
        grounded to it's purpose and is considerate to accessibilty and it's impacts on performance.
      </p>
      <p class="body">
        I combine nuanced timing and motion with a deep understanding of how the browser renders animations to deliver
        logical interactions that tells a story and is impactful while running at a buttery smooth 60fps.
      </p>
    </div>
  </div>
</section>
