<section>
  <div class="c-process__container">
    <div>
      <span class="overline">Let's get technical with design.</span>
      <h2 #headline class="headline">
        Approach design with a
        <span class="discipline">new perspective.</span>
      </h2>
      <p class="body">
        Hello, my name is Alex Vong I'm a <strong>designer</strong> and <strong>front-end developer</strong>
        specializing in Design Systems and UI development. Whether you are a beginner or advanced designer I can help
        you expand your knowledge on the technical side of design by bridging design & development methodologies.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <svg width="300" height="300" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
        <circle cx="149.498" cy="152.508" r="53.177" fill="url(#a)" />
        <path
          #halfCircle
          d="M241.965 152.416a91.825 91.825 0 0 1-56.688 84.84 91.842 91.842 0 0 1-70.283 0 91.835 91.835 0 0 1-49.698-49.698 91.829 91.829 0 0 1-6.99-35.142h183.659Z"
          fill="url(#b)"
        />
        <path
          #smallSquare
          d="M144.855 37.04a6.567 6.567 0 0 1 9.287 0l25.54 25.54a6.568 6.568 0 0 1 0 9.288l-25.54 25.54a6.567 6.567 0 0 1-9.287 0l-25.54-25.54a6.566 6.566 0 0 1 0-9.287l25.54-25.54Z"
          fill="url(#c)"
        />
        <circle #smallCircle cx="149.742" cy="221.983" r="22.317" fill="url(#d)" />
        <defs>
          <radialGradient
            id="a"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="rotate(90 14.046 135.452) scale(93.8127)"
          >
            <stop stop-color="#D75F5D" />
            <stop offset="1" stop-color="#453B4F" />
          </radialGradient>
          <radialGradient
            id="b"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(.36614 145.98654 -171.39446 .42986 150.136 152.508)"
          >
            <stop offset=".177" stop-color="#DCC6F1" />
            <stop offset="1" stop-color="#5A4F4F" />
          </radialGradient>
          <linearGradient id="c" x1="149.498" y1="52.676" x2="149.498" y2="109.866" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFB800" />
            <stop offset="1" stop-color="#C95B5C" />
          </linearGradient>
          <radialGradient
            id="d"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(0 -44.1472 46.9064 0 149.498 212.709)"
          >
            <stop stop-color="#3467DB" />
            <stop offset="1" stop-color="#574667" />
          </radialGradient>
        </defs>
      </svg>
    </div>
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Designing
        <span class="discipline">together.</span>
      </h2>
      <p class="body">
        Like a UI & UX relationship, I strongly believe that designers & developers should work together with equal
        responsibility to make sure what we are delivering is impactful to the user's experience because what we design
        and build will be user facing.
      </p>
      <p class="body">
        <strong>A comic book artist still needs an skillful inker to bring their illustration to life.</strong>
      </p>
      <p class="body">
        From interaction design to scaleable design systems, single-page applications to mobile experience. That
        designer & developer relationship should start with the design process to solution and build ambitious yet
        accessible products.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Considered
        <span class="discipline">development.</span>
      </h2>
      <p class="body">
        The sky isn't always blue so I take a pragmatic approach to each project I take on, focussing on identifying
        what the current tech stack is and the constraints that holds us back from creating the best user experience.
      </p>
      <p class="body">
        I've worked with forward-thinking people to design and develop interactive, accessible websites and products.
        With my experience in designing and building complex user interfaces I can help you deliver anything from
        single-page applications to scaleable design systems.
      </p>
      <p class="body">
        I bring in both the design & development perspective to help you identify the most appropriate technology for
        your project that fits your needs. Whilst I love modern cutting edge web technology, you can be sure that I will
        be considerate of what works for your product.
      </p>
    </div>
    <div class="c-process-grid__col">
      <div class="animation"></div>
    </div>
  </div>
</section>
<section>
  <div class="c-process-grid">
    <div class="c-process-grid__col">
      <div class="animation"></div>
    </div>
    <div class="c-process-grid__col">
      <h2 #headline class="sub-headline">
        Motion &
        <span class="discipline">Choreography.</span>
      </h2>
      <p class="body">
        As a designer I sweat the little details that brings the experience to life. Animation isn't just about looking
        cool, motion and UI interaction is key to a delightful user experience. However good interaction design is
        grounded to it's purpose and is considerate to accessibilty and it's impacts on performance.
      </p>
      <p class="body">
        I combine nuanced timing and motion with a deep understanding of how the browser renders animations to deliver
        logical interactions that tells a story and is impactful while running at a buttery smooth 60fps.
      </p>
    </div>
  </div>
</section>
