@import '../scss/00_imports';

:host(.c-root) {
  --progress-start: 20%;
  --progress-end: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: background 320ms ease;
  background-color: var(--color-bg);
  color: var(--color-type);
}

main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  @include container-padding;
}

.l-abstract {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    background: linear-gradient(55deg, rgba(color(forest), 0.045) 0%, rgba(color(mercury), 0) 30%);
    border-radius: 6rem;
    transform: translate(-5%, -45%) rotate(-45deg);
  }
}
