@import '../scss/00_imports';

:host(.c-root) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  @include container-padding;
}
