@import '../../../scss/00_imports';

:host-context(.c-social-links) {
  position: relative;
  display: block;
  width: 100%;
}

.c-social-links {
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
    }
  }
}

.social-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: currentColor;
  border-radius: 100%;
  transition: color 320ms ease;
  transition: background 320ms ease;
  &:hover,
  &:focus {
    background-color: hsla(var(--glass4) / 0.75);
  }
  svg {
    height: 24px;
    width: 24px;
  }
}
