<form class="theme-selection" [formGroup]="themeForm">
  <div class="palettes">
    <div class="palette brand-{{ i + 1 }}" *ngFor="let color of brandColors; index as i">
      <span>{{ color }}</span>
    </div>
  </div>
  <div class="palettes">
    <div class="palette surface-{{ i + 1 }}" *ngFor="let tint of tints; index as i">
      <span>{{ tint }}</span>
    </div>
  </div>
  <div class="palettes">
    <div class="palette neutral-{{ i + 1 }}" *ngFor="let neutral of nuetrals; index as i">
      <span>{{ neutral }}</span>
    </div>
  </div>
  <div class="palettes">
    <div class="palette shade-{{ i + 1 }}" *ngFor="let shade of shades; index as i">
      <span>{{ shade }}</span>
    </div>
  </div>
  <div class="text-colors">
    <span>Create, Share, and Inspire.</span>
    <h1>Do it for the love of Design & Development.</h1>
    <p>
      From Design to Development, I bridge the gap. Hi, I'm Alex; I'm a designer and front-end developer passionate
      about crafting beautiful and delightful user interactions through modern web technology.
    </p>
    <p><strong>I am your friendly neighbourhood designer known for his technical skills.</strong></p>
  </div>
  <fieldset>
    <legend class="sr-only">Scheme</legend>
    <div class="radio-group">
      <div class="cr" *ngFor="let control of this.colorScheme">
        <input
          class="radio"
          name="scheme"
          [id]="control.value"
          type="radio"
          [value]="control.value"
          formControlName="scheme"
        />
        <label [for]="control.value">{{ control.label }}</label>
      </div>
    </div>
    <div class="form-control">
      <label for="hue" id="hue">Hue</label>
      <input
        #hueSlider
        name="hue"
        type="range"
        formControlName="hue"
        aria-labelledby="hue"
        [value]="hue"
        step="1"
        min="0"
        max="360"
      />
    </div>
  </fieldset>
</form>
