<ng-container *ngIf="blogData$ | async as blog">
  <div class="c-blog__hero">
    <div class="c-blog__hero-content">
      <div class="c-blog-title-group">
        <span class="blog-date">{{ blog.first_publication_date }}</span>
        <h1 class="blog-title">{{ blog.data.page_title }}</h1>
        <p class="blog-description">{{ blog.data.page_description }}</p>
      </div>
      <div class="c-blog-author">
        <div class="c-blog-author__image">
          <img src="{{ blog.data.author[0].author_profile.url }}" />
        </div>
        <div class="c-blog-author__info">
          <span class="blog-author">{{ blog.data.author[0].author_name }}</span>
          <span class="blog-author-title">{{ blog.data.author[0].author_title }}</span>
        </div>
      </div>
    </div>
    <div class="c-blog__hero-image">
      <img src="{{ blog.data.blog_image.url }}" />
    </div>
  </div>
  <section class="c-blog__content" #htmlContent [innerHtml]="blog.data.blog_content | asHTML"></section>
</ng-container>
