@import '../../../scss/00_imports';

:host-context(.c-blog) {
  position: relative;
  display: block;
  width: 100%;
}

.c-blog {
  &__hero {
    position: relative;
    width: 100%;
    margin-top: $layout--xl;
    margin-bottom: $layout--md;
    @include breakpoint(md) {
      margin-top: $layout--2xl;
      margin-bottom: $layout--lg;
    }

    &-content {
      position: relative;
      width: 100%;
    }

    &-image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 375px;
      border-radius: $spacing--sm;
      overflow: hidden;
      img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-content ~ &-image {
      margin-top: $layout--sm;
      @include breakpoint(md) {
        margin-top: $layout--md;
      }
    }
  }
}

.c-blog-title-group {
  position: relative;
  width: 100%;
  margin-bottom: $spacing--xl;
}

.c-blog-author {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
  }

  &__image {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    flex-shrink: 0;
    border: 2px solid var(--color-logo-muted);
    overflow: hidden;
    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  &__image ~ &__info {
    margin-top: $spacing--lg;
    @include breakpoint(sm) {
      margin-top: 0;
      margin-left: $spacing--lg;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .blog-author {
    position: relative;
    display: inline-block;
    font-weight: font-weight('bold');
    line-height: $heading-line-height;
    font-size: $body--1;
    color: var(--color-type-link);
    @include breakpoint(md) {
      font-size: $subtitle;
    }
  }

  .blog-author-title {
    position: relative;
    display: inline-block;
    font-size: $body--2;
    color: var(--color-type-overline);
    @include breakpoint(md) {
      font-size: $body--1;
    }
  }
}
