/* You can add global styles to this file, and also import other style files */
// Systems
@import './scss/01_functions';
@import './scss/02_mixins';
@import './scss/03_normailize';
@import './scss/04_resets';
@import './scss/05_variables';
@import './scss/06_typography';
@import './scss/07_base';
// Third party over-rides
:root {
  --color-bg: #{neutral(grey10)};
  --color-bg-rgb: #{hexToRGB(neutral(grey10))};
  --color-bg-btn-rgb: #{hexToRGB(primary(green80))};
  --color-outline-rgb: #{hexToRGB(neutral(grey80))};
  --color-shadow-rgb: #{hexToRGB(neutral(grey90))};
  --color-abstract-primary: #{accent1(neon40)};
  --color-abstract-secondary: #{accent1(neon50)};
  --color-bottom-pane-bg: #{neutral(grey0)};
  --color-reveal-block1: #{accent1(neon40)};
  --color-reveal-block2: #{neutral(grey20)};
  --color-reveal-block3: #{neutral(grey10)};

  // Typography Colors
  --color-type-base: #{primary(green60)};
  --color-type-overline: #{primary(green40)};
  --color-type-neutral: #{neutral(grey30)};
  --color-type-underline: #{accent1(neon60)};
  --color-type-link: #{accent1(neon80)};
  --color-type-strong: #{primary(green70)};
  --color-type-clock: #{accent2(pink90)};
  --color-type-clock-accent: #{accent2(pink50)};
}

body.dark {
  --color-bg: #{neutral(grey90)};
  --color-bg-rgb: #{hexToRGB(neutral(grey90))};
  --color-bg-btn-rgb: #{hexToRGB(primary(green30))};
  --color-outline-rgb: #{hexToRGB(neutral(grey10))};
  --color-shadow-rgb: #{hexToRGB(neutral(grey90))};
  --color-abstract-primary: #{accent1(neon40)};
  --color-abstract-secondary: #{accent1(neon40)};
  --color-bottom-pane-bg: #{neutral(grey80)};
  --color-reveal-block1: #{accent1(neon50)};
  --color-reveal-block2: #{neutral(grey70)};
  --color-reveal-block3: #{neutral(grey80)};

  // Typography Colors
  --color-type-base: #{primary(green10)};
  --color-type-overline: #{primary(green30)};
  --color-type-neutral: #{primary(green60)};
  --color-type-underline: #{accent1(neon40)};
  --color-type-link: #{accent1(neon40)};
  --color-type-strong: #{primary(green0)};
  --color-type-clock: #{accent2(pink10)};
  --color-type-clock-accent: #{accent2(pink60)};
}

body.overlay {
  overflow: hidden;
}

// Utilities
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
