/* Typography styles */
p {
  color: currentColor;
  font-size: $body--1;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
  strong {
    color: var(--color-type-strong);
    font-weight: font-weight(bold);
  }
}

p ~ p {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

h1,
h2,
h3,
h4,
form legend {
  line-height: $heading-line-height;
  font-weight: inherit;
  margin: $spacing--xl 0 $spacing--sm;
}

.display-responsive {
  font-family: $heading-font-family;
  font-size: $headliner--1;
  line-height: $heading-line-height;
  font-weight: font-weight('semi-bold');
  white-space: nowrap;
  user-select: none;
  color: var(--color-type-neutral);
  @include breakpoint(sm) {
    font-size: calc(68px + 16 * ((100vw - 568px) / (992 - 568)));
  }
  @include breakpoint(lg) {
    font-size: $headliner--1 * 1.45;
  }
}

.display {
  font-size: $title--2;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('semi-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--1;
  }
  @include breakpoint(md) {
    font-size: $large--title;
  }
  @include breakpoint(lg) {
    font-size: $huge--title;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--color-type-underline);
  }
}

p ~ .heading-1,
p ~ .heading-2,
p ~ .heading-3,
p ~ .heading-4 {
  margin-top: $layout--lg;
  @include breakpoint(md) {
    margin-top: $layout--xl;
  }
}

.display ~ p {
  margin-top: $spacing--2xl;
  @include breakpoint(md) {
    margin-top: $spacing--3xl;
  }
}

.display-2 {
  font-size: $title--2;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('semi-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--1;
  }
  @include breakpoint(md) {
    font-size: $large--title;
  }
  @include breakpoint(lg) {
    font-size: $huge--title;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--color-type-underline);
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-2 ~ p {
  margin-top: $spacing--2xl;
  @include breakpoint(md) {
    margin-top: $spacing--3xl;
  }
}

.display-3,
.blog-title {
  font-size: $title--3;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(md) {
    font-size: $title--2;
  }
  @include breakpoint(lg) {
    font-size: $title--1;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--color-type-underline);
  }
}

.display-3 ~ p {
  margin-top: $spacing--xl;
  @include breakpoint(md) {
    margin-top: $spacing--2xl;
  }
}

.heading-2 {
  position: relative;
  font-size: $subtitle;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
  @include breakpoint(lg) {
    font-size: $title--3;
  }
}

.heading-2 ~ p {
  margin-top: $spacing--xl;
  @include breakpoint(md) {
    margin-top: $spacing--2xl;
  }
}

.heading-3 {
  position: relative;
  font-size: $body--1;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.heading-3 ~ p,
.heading-4 ~ p {
  margin-top: $spacing--md;
  @include breakpoint(md) {
    margin-top: $spacing--lg;
  }
}

.overline {
  font-size: $body--1;
  font-weight: font-weight('bold');
  line-height: $heading-line-height;
  color: var(--color-type-overline);
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.headline {
  font-size: $body--1;
  font-weight: font-weight('bold');
  line-height: $heading-line-height;
  color: currentColor;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.blog-description {
  font-size: $body--1;
  color: var(--color-type-muted);
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.blog-date {
  font-size: $body--2;
  font-weight: font-weight('bold');
  color: var(--color-type-overline);
}

.blog-date ~ .blog-title {
  margin-top: $spacing--xs;
}

.blog-title ~ .blog-description {
  margin-top: $spacing--sm;
  @include breakpoint(md) {
    margin-top: $spacing--md;
  }
}

.overline ~ h1,
.overline ~ h2,
.overline ~ h3,
.overline ~ h4 {
  margin-top: $spacing--lg;
}
