/* Typography styles */
h1,
h2,
h3,
h4 {
  color: currentColor;
  font-weight: font-weight('bold');
  line-height: $heading-line-height;
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--accent100);
  }
}

h1,
.h1,
.rt-heading-1 {
  font-size: $title--3;
  @include breakpoint(xs) {
    font-size: $title--2;
  }
  @include breakpoint(md) {
    font-size: $title--1;
  }
}

h2,
.h2,
.rt-heading-2 {
  font-size: $subtitle--2;
  @include breakpoint(xs) {
    font-size: $title--3;
  }
  @include breakpoint(md) {
    font-size: $title--2;
  }
}

h3,
.h3,
.rt-heading-3 {
  font-size: $subtitle;
  @include breakpoint(xs) {
    font-size: $subtitle--2;
  }
  @include breakpoint(md) {
    font-size: $title--3;
  }
}

h4,
.h4,
.rt-heading-4 {
  font-size: $body--1;
  @include breakpoint(xs) {
    font-size: $subtitle;
  }
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
}

p,
.body-1 {
  color: currentColor;
  font-size: $body--2;
  line-height: $body-line-height;
  @include breakpoint(xs) {
    font-size: $body--1;
  }
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

p:only-child {
  margin: 0;
}

strong {
  font-weight: font-weight('semi-bold');
}

span ~ h1,
span ~ h2,
span ~ h3,
span ~ p {
  margin-top: $spacing--2xs;
  @include breakpoint(sm) {
    margin-top: $spacing--xs;
  }
}

span ~ h4 {
  margin-top: $spacing--2xs;
}

h1 ~ p,
p ~ h1 {
  margin-top: $spacing--2xl;
  @include breakpoint(md) {
    margin-top: $spacing--3xl;
  }
}

h2 ~ p,
h3 ~ p,
p ~ h2,
p ~ h3 {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

h4 ~ p,
p ~ h4 {
  margin-top: $spacing--md;
  @include breakpoint(md) {
    margin-top: $spacing--lg;
  }
}

p ~ p {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

.display-responsive {
  font-family: $heading-font-family;
  font-size: $headliner--1;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  white-space: nowrap;
  user-select: none;
  color: var(--surface6);
  @include breakpoint(sm) {
    font-size: calc(68px + 16 * ((100vw - 568px) / (992 - 568)));
  }
  @include breakpoint(lg) {
    font-size: $headliner--1 * 1.45;
  }
}

.display-1,
.rt-display-1 {
  font-size: $title--2;
  line-height: $headline-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $large--title;
  }
  @include breakpoint(md) {
    font-size: $huge--title;
  }
  @include breakpoint(lg) {
    font-size: $headliner--1;
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-2,
.rt-display-2 {
  font-size: $title--3;
  line-height: $headline-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--1;
  }
  @include breakpoint(md) {
    font-size: $large--title;
  }
  @include breakpoint(lg) {
    font-size: $huge--title;
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-3,
.rt-display-3 {
  font-size: $subtitle;
  line-height: $headline-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--2;
  }
  @include breakpoint(md) {
    font-size: $title--1;
  }
  @include breakpoint(lg) {
    font-size: $large--title;
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-4,
.rt-display-4 {
  font-size: $body--1;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(sm) {
    font-size: $title--3;
  }
  @include breakpoint(md) {
    font-size: $title--2;
  }
  @include breakpoint(lg) {
    font-size: $title--1;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--accent200);
  }
}

.body-2 {
  color: currentColor;
  font-size: $body--2;
  line-height: $body-line-height;
  @include breakpoint(sm) {
    font-size: $body--1;
  }
}

.body-large {
  color: currentColor;
  font-size: $body--1;
  line-height: $body-line-height;
  @include breakpoint(xs) {
    font-size: $subtitle;
  }
  @include breakpoint(sm) {
    font-size: $subtitle--2;
  }
}

.label {
  font-size: $body--1;
  @include breakpoint(xs) {
    font-size: $subtitle;
  }
}

.overline,
.rt-overline {
  font-size: $body--2;
  line-height: $heading-line-height;
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $body--1;
  }
}

small,
.small {
  font-size: $body--2;
}

.legal {
  font-size: $legal;
  @include breakpoint(xs) {
    font-size: $overline;
  }
}

strong,
.strong {
  font-weight: font-weight('semi-bold');
}

.bold {
  font-weight: font-weight('bold');
}

.extra-bold {
  font-weight: font-weight('extra-bold');
}

.numeric-display {
  font-size: $clock-digit--sm;
  line-height: $headline-line-height;
  @include breakpoint(md) {
    font-size: $clock-digit--md;
  }
}

.mono-space {
  color: currentColor;
  font-size: $body--1;
  font-family: $mono-font-family;
}

.blog-description {
  font-size: $body--1;
  color: var(--text200);
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.blog-date {
  font-size: $body--2;
  font-weight: font-weight('bold');
  color: var(--text200);
}

.blog-date ~ .blog-title {
  margin-top: $spacing--xs;
}

.blog-title ~ .blog-description {
  margin-top: $spacing--sm;
  @include breakpoint(md) {
    margin-top: $spacing--md;
  }
}
