/* Typography styles */
p {
  color: currentColor;
  font-size: $body--2;
  line-height: $body-line-height;
  @include breakpoint(xs) {
    font-size: $body--1;
  }
  @include breakpoint(md) {
    font-size: $subtitle;
  }
  strong {
    font-weight: font-weight('semi-bold');
  }
}

p:only-child {
  margin: 0;
}

h1 ~ p,
h2 ~ p {
  margin-top: $spacing--xl;
  @include breakpoint(md) {
    margin-top: $spacing--3xl;
  }
}

h2 ~ p,
h3 ~ p,
h4 ~ p {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

p ~ p {
  margin-top: $spacing--lg;
  @include breakpoint(md) {
    margin-top: $spacing--xl;
  }
}

h1,
h2,
h3,
h4,
form,
legend {
  line-height: $heading-line-height;
  font-weight: inherit;
  margin: $spacing--xl 0 $spacing--sm;
}

.overline,
.rt-overline {
  font-size: $body--2;
  font-weight: font-weight('semi-bold');
  line-height: $heading-line-height;
  color: var(--text200);
  @include breakpoint(xs) {
    font-size: $body--1;
  }
}

.display-responsive {
  font-family: $heading-font-family;
  font-size: $headliner--1;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  white-space: nowrap;
  user-select: none;
  color: var(--surface6);
  @include breakpoint(sm) {
    font-size: calc(68px + 16 * ((100vw - 568px) / (992 - 568)));
  }
  @include breakpoint(lg) {
    font-size: $headliner--1 * 1.45;
  }
}

.display-1,
.rt-display-1 {
  font-size: $title--2;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--1;
  }
  @include breakpoint(md) {
    font-size: $large--title;
  }
  @include breakpoint(lg) {
    font-size: $huge--title;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--accent200);
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-2,
.rt-display-2 {
  font-size: $title--3;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  @include breakpoint(sm) {
    font-size: $title--2;
  }
  @include breakpoint(md) {
    font-size: $title--1;
  }
  @include breakpoint(lg) {
    font-size: $large--title;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--accent200);
  }
  &:first-child {
    margin-top: 0;
  }
}

.display-3,
.rt-display-3,
.blog-title {
  font-size: $subtitle;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('extra-bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(xs) {
    font-size: $subtitle--2;
  }
  @include breakpoint(md) {
    font-size: $title--3;
  }
  @include breakpoint(lg) {
    font-size: $title--2;
  }
  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--accent200);
  }
}

.heading-2,
.rt-heading-2 {
  position: relative;
  font-size: $subtitle;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(md) {
    font-size: $subtitle--2;
  }
  @include breakpoint(lg) {
    font-size: $title--3;
  }
}

.heading-3,
.rt-heading-3 {
  position: relative;
  font-size: $body--1;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: font-weight('bold');
  color: currentColor;
  &:first-child {
    margin-top: 0;
  }
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.headline {
  font-size: $body--1;
  font-weight: font-weight('bold');
  line-height: $heading-line-height;
  color: currentColor;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.blog-description {
  font-size: $body--1;
  color: var(--text200);
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.blog-date {
  font-size: $body--2;
  font-weight: font-weight('bold');
  color: var(--text200);
}

.blog-date ~ .blog-title {
  margin-top: $spacing--xs;
}

.blog-title ~ .blog-description {
  margin-top: $spacing--sm;
  @include breakpoint(md) {
    margin-top: $spacing--md;
  }
}
