// Color variables
* {
  // Brand HSL
  --brand-hue: 183;
  --brand-saturation: 100%;
  --brand-lightness: 14%;
  // Accent1 HSL
  // --accent1-hue: 163;
  --accent1-hue: calc(var(--brand-hue) - 20);
  --accent1-saturation: 91%;
  --accent1-lightness: 39%;
  // Accent2 HSL
  // --accent2-hue: 43;
  --accent2-hue: calc(var(--brand-hue) - 140);
  --accent2-saturation: 100%;
  --accent2-lightness: 51%;
  // Brand
  --brand400: var(--brand-hue) var(--brand-saturation) var(--brand-lightness);
  --brand500: var(--brand-hue) var(--brand-saturation) var(--brand-lightness);
  --accent400: var(--accent1-hue) var(--accent1-saturation) var(--accent1-lightness);
  --accent500: var(--accent2-hue) var(--accent2-saturation) var(--accent2-lightness);
  // Lights
  --light100: var(--brand-hue) 40% 95%;
  --light200: var(--brand-hue) 35% 94%;
  --light300: var(--brand-hue) 30% 93%;
  --light400: var(--brand-hue) 25% 92%;
  --light500: var(--brand-hue) 20% 91%;
  --light600: var(--brand-hue) 15% 90%;
  // Mids
  --mid100: var(--brand-hue) 20% 26%;
  --mid200: var(--brand-hue) 18% 22%;
  --mid300: var(--brand-hue) 16% 18%;
  --mid400: var(--brand-hue) 14% 16%;
  --mid500: var(--brand-hue) 12% 12%;
  --mid600: var(--brand-hue) 10% 8%;
  // Darks
  --dark100: var(--brand-hue) 12% 5%;
  --dark200: var(--brand-hue) 11% 6%;
  --dark300: var(--brand-hue) 10% 7%;
  --dark400: var(--brand-hue) 9% 8%;
  --dark500: var(--brand-hue) 8% 9%;
  --dark600: var(--brand-hue) 7% 10%;
  // Shadows
  --elevate400: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
  --elevate500: var(--brand-hue) 50% 3%;
  // Shadows
  --shadow-strength-light: 0.02;
  --shadow-strength-dark: 0.8;
}

:root {
  color-scheme: light;
  --brand: hsla(var(--brand400) / 1);
  --accent1: hsla(var(--accent400) / 1);
  --accent2: hsla(var(--accent500) / 1);
  --text1: hsla(var(--dark500) / 1);
  --text2: hsla(var(--dark400) / 1);

  --surface1: hsla(var(--light100) / 1);
  --surface2: hsla(var(--light200) / 1);
  --surface3: hsla(var(--light300) / 1);
  --surface4: hsla(var(--light400) / 1);
  --surface5: hsla(var(--light500) / 1);
  --surface6: hsla(var(--light600) / 1);

  --neutral1: hsla(var(--mid100) / 1);
  --neutral2: hsla(var(--mid200) / 1);
  --neutral3: hsla(var(--mid300) / 1);
  --neutral4: hsla(var(--mid400) / 1);
  --neutral5: hsla(var(--mid500) / 1);
  --neutral6: hsla(var(--mid600) / 1);

  --glass1: var(--light100);
  --glass2: var(--light200);
  --glass3: var(--light300);
  --glass4: var(--light400);
  --surface-shadow: var(--elevate400);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --brand: hsla(var(--brand500) / 1);
    --accent1: hsla(var(--accent400) / 1);
    --accent2: hsla(var(--accent500) / 1);
    --text1: hsla(var(--light200) / 1);
    --text2: hsla(var(--light300) / 1);

    --surface1: hsla(var(--dark100) / 1);
    --surface2: hsla(var(--dark200) / 1);
    --surface3: hsla(var(--dark300) / 1);
    --surface4: hsla(var(--dark400) / 1);
    --surface5: hsla(var(--dark500) / 1);
    --surface6: hsla(var(--dark600) / 1);

    --neutral1: hsla(var(--mid100) / 1);
    --neutral2: hsla(var(--mid200) / 1);
    --neutral3: hsla(var(--mid300) / 1);
    --neutral4: hsla(var(--mid400) / 1);
    --neutral5: hsla(var(--mid500) / 1);
    --neutral6: hsla(var(--mid600) / 1);

    --glass1: var(--dark100);
    --glass2: var(--dark200);
    --glass3: var(--dark300);
    --glass4: var(--dark400);
    --surface-shadow: var(--elevate500);
    --shadow-strength: var(--shadow-strength-light);
  }
}

[color-scheme='light'] {
  color-scheme: light;
  --brand: hsla(var(--brand400) / 1);
  --accent1: hsla(var(--accent400) / 1);
  --accent2: hsla(var(--accent500) / 1);
  --text1: hsla(var(--dark600) / 1);
  --text2: hsla(var(--dark500) / 1);

  --surface1: hsla(var(--light100) / 1);
  --surface2: hsla(var(--light200) / 1);
  --surface3: hsla(var(--light300) / 1);
  --surface4: hsla(var(--light400) / 1);
  --surface5: hsla(var(--light500) / 1);
  --surface6: hsla(var(--light600) / 1);

  --neutral1: hsla(var(--mid100) / 1);
  --neutral2: hsla(var(--mid200) / 1);
  --neutral3: hsla(var(--mid300) / 1);
  --neutral4: hsla(var(--mid400) / 1);
  --neutral5: hsla(var(--mid500) / 1);
  --neutral6: hsla(var(--mid600) / 1);

  --glass1: var(--light100);
  --glass2: var(--light200);
  --glass3: var(--light300);
  --glass4: var(--light400);
  --surface-shadow: var(--elevate400);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme='dark'] {
  color-scheme: dark;
  --brand: hsla(var(--brand500) / 1);
  --accent1: hsla(var(--accent400) / 1);
  --accent2: hsla(var(--accent500) / 1);
  --text1: hsla(var(--light200) / 1);
  --text2: hsla(var(--light300) / 1);

  --surface1: hsla(var(--dark100) / 1);
  --surface2: hsla(var(--dark200) / 1);
  --surface3: hsla(var(--dark300) / 1);
  --surface4: hsla(var(--dark400) / 1);
  --surface5: hsla(var(--dark500) / 1);
  --surface6: hsla(var(--dark600) / 1);

  --neutral1: hsla(var(--mid100) / 1);
  --neutral2: hsla(var(--mid200) / 1);
  --neutral3: hsla(var(--mid300) / 1);
  --neutral4: hsla(var(--mid400) / 1);
  --neutral5: hsla(var(--mid500) / 1);
  --neutral6: hsla(var(--mid600) / 1);

  --glass1: var(--dark100);
  --glass2: var(--dark200);
  --glass3: var(--dark300);
  --glass4: var(--dark400);
  --surface-shadow: var(--elevate500);
  --shadow-strength: var(--shadow-strength-light);
}
