<div class="c-clock__container">
  <div class="c-clock-display" #digit>
    <div class="c-clock-display__container">
      <span class="c-clock-digit">{{ hours }}</span>
    </div>
    <div class="c-clock-colons">
      <div class="circle" #colon></div>
      <div class="circle" #colon></div>
    </div>
  </div>
  <div class="c-clock-display" #digit>
    <div class="c-clock-display__container">
      <span class="c-clock-digit">{{ minutes }}</span>
    </div>
  </div>
  <div class="c-clock-display" #digit>
    <div class="c-clock-display__container">
      <span class="c-clock-digit c-clock-digit--seconds">{{ seconds }}</span>
    </div>
    <div class="c-clock-meridian">
      <span class="c-clock-meridian__label">{{ meridian }}</span>
    </div>
  </div>
</div>
<div class="c-clock__date">
  <h1 class="c-clock-message" *ngIf="homeContent$ | async as data">{{ data.pull_quote }}</h1>
  <!-- <p class="c-clock-date-label">{{ todaysDate }}</p> -->
</div>
