<div class="c-approach__hero">
  <!-- <c-relationship-motion></c-relationship-motion>
  <h2 class="intro-title">The Balance between Design & Development.</h2> -->
  <div class="scrolling-headline-container">
    <div #scrollingHeadline class="scrolling-headline-track">
      <div class="scrolling-headline">
        <span>Designer — Developer.</span>
      </div>
      <div class="scrolling-headline">
        <span>Designer — Developer.</span>
      </div>
    </div>
  </div>
</div>
<section *ngFor="let p of siteContent?.approach; index as i">
  <div class="c-approach__container">
    <span class="overline" *ngIf="p.approach_callout">{{ p.approach_callout }}</span>
    <div [innerHTML]="p.approach_content | asHTML"></div>
  </div>
</section>
