@import '../../../scss/00_imports';

:host-context(.c-approach) {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 68px;
  padding-bottom: $layout--2xl * 1.25;
}

section ~ section {
  margin-top: $layout--xl;
  @include breakpoint(md) {
    margin-top: $layout--2xl;
  }
}

.c-approach {
  &__hero-container {
    position: relative;
    margin-bottom: $layout--xl;
  }
  &__container {
    width: 100%;
  }

  &__container:nth-child(n + 4) {
    max-width: 768px;
    margin-left: auto;
  }

  &__end {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    margin-top: $layout--lg;
    color: var(--color-logo-muted);

    svg {
      transition: color 275ms ease;
      height: 18px;
      width: auto;
      @include breakpoint(md) {
        height: 24px;
      }
    }
  }
}
