@import '../../../scss/00_imports';

:host-context(.c-approach) {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: $layout--2xl;
  section ~ section {
    margin-top: $layout--2xl;
  }
}

.c-approach {
  &__container {
    width: 100%;
    max-width: 728px;
    @include breakpoint(md) {
      margin: auto;
    }
  }
}

.overline {
  display: inline-block;
  line-height: $heading-line-height;
  font-weight: font-weight(bold);
  font-size: $body--1;
  margin-bottom: $spacing--xs;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.c-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin-bottom: $layout--xl;
  @include breakpoint(md) {
    flex-direction: row;
    margin-bottom: $layout--2xl;
  }

  &::before {
    --progress-start: 45%;
    --progress-end: 95%;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(neutral(grey10), 0) var(--progress-start),
      rgba(neutral(grey10), 1) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(neutral(grey10), 0) var(--progress-start),
        rgba(neutral(grey10), 1) var(--progress-end)
      );
  }

  &__col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint(md) {
      width: auto;
    }
  }
  &__col ~ &__col {
    padding-top: $spacing--sm;
    @include breakpoint(md) {
      padding-top: 0;
    }
  }

  &__marquee {
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    padding: $spacing--lg;
    @include breakpoint(md) {
      align-items: flex-end;
    }
  }
}

.hero-title {
  position: relative;
  z-index: 1;
  font-size: $body--1;
  font-weight: 900;
  line-height: 1.25;
  margin: 0;
  @include breakpoint(md) {
    font-size: $subtitle;
  }
}

.scrolling-headline-track {
  position: relative;
  display: flex;
}

.scrolling-headline {
  white-space: nowrap;
  padding-left: $layout--lg;
  span {
    display: inline-block;
    font-weight: 900;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
    font-size: $headliner--1;
    margin: 0;
    color: var(--color-marquee-text);
    @include breakpoint(sm) {
      font-size: calc(68px + 16 * ((100vw - 568px) / (992 - 568)));
    }
    @include breakpoint(lg) {
      font-size: $headliner--1 * 2;
    }
  }
}

:host-context(.c-approach) .c-balance-motion {
  width: 320px;
  height: 320px;
  @include breakpoint(sm) {
    width: 345px;
    height: 345px;
  }
  @include breakpoint(lg) {
    width: 420px;
    height: 420px;
  }
}

body.dark {
  :host-context(.c-approach) .c-hero::before {
    background: radial-gradient(
      circle,
      rgba(neutral(grey90), 0) var(--progress-start),
      rgba(neutral(grey90), 1) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(neutral(grey90), 0) var(--progress-start),
        rgba(neutral(grey90), 1) var(--progress-end)
      );
  }

  // :host-context(.c-approach) .l-content--hide::after {
  //   background: linear-gradient(
  //     175deg,
  //     rgba(neutral('grey90'), 0) var(--a-end),
  //     rgba(neutral('grey90'), 1) var(--a-start)
  //   );
  // }
}
