@import '../../../scss/00_imports';

:host-context(.c-approach) {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: $layout--2xl;
  section ~ section {
    margin-top: $layout--2xl;
  }
}

.c-approach {
  &__container {
    width: 100%;
    max-width: 728px;
    @include breakpoint(md) {
      margin: auto;
    }
  }
}
